*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	/* 	background: #333; */
	font-weight: 400;
	font-size: 1em;
	font-family: Century Gothic;;
}

p {
	font-family: Century Gothic;;
	font-size: 16pt;
	font-style: italic;
	
}

label {
	font-family: Century Gothic;;
	font-size: 20pt;
	font-style: italic;
	
}

table {
	font-family: Century Gothic;
	font-style: italic;
	
}

}
footer {
	text-align: center;
	font-family: Century Gothic;
	font-size: 12pt;
	font-style: italic;
	
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.content {
	background: url(../img/fon.png);
}

.content a {
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
	letter-spacing: 1px;
	margin: 0 20px;
	font-size: 18px;
	font-family: Century Gothic;
	transition: .3s ease-in-out;
}

.s5 {
	
	position: relative;
}


section {
	padding: 1em;
	text-align: center;
}

.codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	opacity: 0.7;
}

.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 2em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-demos {
	padding: 2em 0 1em;
	font-size: 0.8em;
	text-align: center;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em 0.75em;
	line-height: 1.5;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.codrops-demos a.current-demo {
	color: inherit;
}

div.info {
	text-align: center;
}

div.button {
	padding: 40px;
	float: right;
}

body #cdawrap {
	background: none;
	top: 50px;
	opacity: 0;
	-webkit-transition: opacity 0.3s 1.2s;
	transition: opacity 0.3s 1.2s;
	font-family: Helvetica, Arial, sans-serif;
}

body #cdawrap a {
	color: #fff !important;
}

body .loaded ~ #cdawrap {
	opacity: 1;
}

body #cdawrap #cda-remove {
	top: 20px;
	right: 25px;
	width: 20px;
	height: 20px;
	opacity: 0;
}

body #cdawrap:hover #cda-remove {
	opacity: 1;
}

@media screen and (max-width: 35em) {
	.codrops-icon span {
		display: none;
	}
}

#search-block-form {
	float: right;
	width: 482px;
	height: 28px;
	border: #696969 solid 1px;
	background: url(images/searchBg.png) left top repeat-x;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}

.focus-active {
	border-color: #aaa !important;
	background: #fff !important;
}

#search-block-form input {
	padding: 0;
	margin: 0;
	display: block;
	border: none;
	outline: none;
	background: none;
	width: 100%;
	height: 100%;
}

#search-block-form .form-actions {
	width: 58px;
	height: 28px;
	float: right;
	border: #696969 solid 1px;
	margin: -1px -1px 0 0;
	background: url(images/submit.png) left top repeat;
}

#search-block-form .form-actions input:hover {
	cursor: pointer;
}

#search-block-form .form-actions input {
	overflow: hidden;
	font: 15px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	
}

#search-block-form .form-item {
	width: 157px;
	padding: 0 0 0 9px;
	float: left;
	height: 28px;
	background: url(images/searchIcon.png) 3px 2px no-repeat;
}

#search-block-form .form-item input {
	font: 14px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	
	
	height: auto !important;
	padding: 5px 0;
	width: 276%;
}

.placeholder {
	color: #cbcbcb !important;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

a {
	
	text-decoration: none;
	outline: none;
}

.color-5 {
	color: #fff;
}

.color-5 a {
	color: #a35749;
}

.color-5 a:hover, .color-5 a:focus {
	color: #6d3126;
}

section {
	padding: 4% 1em 10%;
	text-align: center;
}

label.select-label {
	display: block;
	text-transform: uppercase;
	padding: 1em 0 1.5em;
	font-size: 75%;
	letter-spacing: 1px;
	font-weight: 700;
	width: 300px;
	text-align: left;
	margin: 0 auto;
	color: #c0c6c4;
}

.color-4 label.select-label {
	color: #282b30;
	font-size: 1em;
}

.codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.codrops-header h1 span {
	display: block;
	font-size: 30%;
	text-transform: uppercase;
	letter-spacing: 2px;
	opacity: 0.8;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 700;
	font-size: 3.5em;
	line-height: 1.3;
}

.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}
span.cs-placeholder {
	width: 95%;
}

.codrops-demos a.current-demo {
	color: inherit;
}